<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.bihe0832.android.common.feedback">

    <application>
        <activity
            android:name="com.bihe0832.android.common.feedback.FeedbackActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:process="@string/com_bihe0832_web_process_name"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />
    </application>
</manifest>