######################
# 解决java产生文件
######################
*.class

######################
# 解决maven产生的文件
######################
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

######################
# jekyll
######################
.jekyll-cache
_site

######################
# 解决各类编辑器自动产生的文件
######################
*.iml
.idea/
/out/
/target/
.idea_modules/
local.properties
.externalNativeBuild/

######################
# gradle
######################
.gradle

######################
# android
######################
build
captures
gradle.properties
.externalNativeBuild

######################
# mac
######################
.DS_Store
sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20
sherpa-onnx-whisper-base

######################
# gitbook
######################
_book
node_modules

######################
# CMake
######################
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
.cxx



######################
# NPM and arkts
######################
.npm
.clang-format
.clang-tidy
.clangd
.idea
.hvigor
oh_modules
oh-package-lock.json5
.cxx
.preview
build
.codebuddy
aafRepo
bin

# CodeBuddy 配置目录
.codebuddy/
