<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bihe0832.android.base.debug">



    <application
        android:name="com.bihe0832.android.base.debug.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        tools:replace="android:name">


        <provider
            android:name="com.bihe0832.android.base.debug.ipc.provider.MainBinderProvider"
            android:authorities="${applicationId}.process_dispatcher_main" />

        <provider
            android:name="com.bihe0832.android.base.debug.ipc.provider.DebugBinderProvider"
            android:authorities="${applicationId}.process_dispatcher_other"
            android:process=":test" />

        <activity
            android:name="com.bihe0832.android.base.debug.ipc.TestIPCActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.ipc.TestIPC1Activity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:process=":test"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.touch.TouchRegionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.request.DebugHttpActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.network.DebugNetworkActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.immersion.DebugImmersionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.common.debug.log.DebugLogListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.permission.DebugPermissionsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AAF.ActivityTheme.Dialog" />

        <service
            android:name="com.bihe0832.android.common.accessibility.service.AAFAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/com_bihe0832_debug_accessibility_service_config" />
        </service>

        <receiver
            android:name=".widget.TestWidgetProvider1"
            android:exported="true"
            android:label="WidgetDemo1"
            android:process="@string/com_bihe0832_lock_screen_process_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/com_bihe0832_debug_widget_demo_1" />
        </receiver>

        <receiver
            android:name=".widget.TestWidgetProvider2"
            android:exported="true"
            android:label="WidgetDemo2"
            android:process="@string/com_bihe0832_lock_screen_process_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/com_bihe0832_debug_widget_detail" />
        </receiver>


        <service
            android:name="com.bihe0832.android.base.debug.widget.DebugForegroundService"
            android:enabled="true"
            android:exported="true"
            android:process="@string/process_name_domain" />

        <service
            android:name="com.bihe0832.android.base.debug.widget.DebugService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
