<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bihe0832.android.base.debug">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.bihe0832.android.base.debug.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <provider
            android:name="com.bihe0832.android.base.debug.ipc.provider.MainBinderProvider"
            android:authorities="${applicationId}.process_dispatcher_main" />

        <provider
            android:name="com.bihe0832.android.base.debug.ipc.provider.DebugBinderProvider"
            android:authorities="${applicationId}.process_dispatcher_other"
            android:process=":test" />

        <activity
            android:name="com.bihe0832.android.base.debug.ipc.TestIPCActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.ipc.TestIPC1Activity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:process=":test"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.touch.TouchRegionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.request.DebugHttpActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.network.DebugNetworkActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.card.TestListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.immersion.DebugImmersionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />
        <activity
            android:name="com.bihe0832.android.base.debug.webview.DebugWebviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />


        <activity
            android:name="com.bihe0832.android.common.debug.log.DebugLogActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.permission.DebugPermissionsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AAF.ActivityTheme.Dialog" />

        <activity
            android:name="com.bihe0832.android.base.debug.tab.DebugCommonTabActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.tab.DebugSegmentTabActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.tab.DebugSlidingTabActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.empty.DebugBottomActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AAF.ActivityTheme.Alpha" />

        <activity
            android:name="com.bihe0832.android.base.debug.toast.DebugToastActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AAF.ActivityTheme.Alpha" />

        <activity
            android:name="com.bihe0832.android.base.debug.theme.ThemeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AAF.ActivityTheme" />

        <activity
            android:name="com.bihe0832.android.base.debug.lock.DebugLockActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process="@string/com_bihe0832_widgets_process_name"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:taskAffinity="com.bihe0832.android.base.debug.lock"
            android:theme="@style/AAF.ActivityTheme.Transparent" />

        <service
            android:name="com.bihe0832.android.base.debug.lock.DebugLockService"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:process="@string/com_bihe0832_widgets_process_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.bihe0832.android.common.accessibility.service.AAFAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/com_bihe0832_debug_accessibility_service_config" />
        </service>
    </application>

</manifest>
