<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bihe0832.android.lib.tts"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
</manifest>