<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bihe0832.android.lib.install"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
</manifest>