<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bihe0832.android.lib.wrapper">
    <!--    lib-download-install start  -->
    <!--    <uses-permission android:name="android.permission.INTERNET" />-->
    <!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->
    <!--    lib-download-install end  -->

    <!--    lib-file start   -->
    <!--    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />-->
    <!--    lib-file end  -->

    <!--    lib-webview start -->
    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <!--    <uses-permission android:name="android.permission.INTERNET" />-->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--    lib-webview end  -->
</manifest>

