<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bihe0832.android.common.compose.debug">

    <application>
        <activity
            android:name="com.bihe0832.android.common.compose.debug.common.DebugComposeRootActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />

        <activity
            android:name="com.bihe0832.android.common.compose.debug.log.DebugLogComposeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />


        <activity
            android:name="com.bihe0832.android.common.compose.debug.module.device.DebugDeviceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />

        <activity
            android:name="com.bihe0832.android.common.compose.debug.module.device.storage.DebugCurrentStorageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />

        <activity
            android:name="com.bihe0832.android.common.compose.debug.module.device.storage.DebugStorageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />

        <activity
            android:name="com.bihe0832.android.common.compose.debug.common.DebugComposeFragmentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />

        <activity
            android:name="com.bihe0832.android.common.compose.debug.common.DebugComposeMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />

    </application>

</manifest>