<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.bihe0832.android.test">

    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
            android:name="com.bihe0832.android.base.test.TestApplication"
            android:allowBackup="true"
            tools:replace="android:name"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:supportsRtl="true">
        <activity
                android:name="com.bihe0832.android.test.TestSplashActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/fullscreenActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="com.bihe0832.android.test.TestMainActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:screenOrientation="sensor"
                android:theme="@style/activityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--                                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>

        <activity
                android:name="com.bihe0832.android.base.test.touch.TouchRegionActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/activityTheme">

        </activity>

        <activity
                android:name="com.bihe0832.android.base.test.request.TestHttpActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/activityTheme"></activity>

        <activity
                android:name="com.bihe0832.android.base.test.network.TestNetworkActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/activityTheme"></activity>

        <activity
                android:name="com.bihe0832.android.base.test.card.TestListActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/activityTheme"></activity>

        <activity
                android:name="com.bihe0832.android.base.test.webview.TestWebviewActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/activityTheme"></activity>

    </application>

</manifest>
