<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bihe0832.android.test">

    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.bihe0832.android.base.debug.TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AAF.AppTheme"
        tools:replace="android:label">
        <activity
            android:name="com.bihe0832.android.test.TestSplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AAF.ActivityTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bihe0832.android.test.TestMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />

        <activity
            android:name="com.bihe0832.android.test.module.AAFDebugLogListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|layoutDirection"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />

    </application>

</manifest>
