<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.bihe0832.android.lib.foreground.service">

    <application>
        <service
                android:name="com.bihe0832.android.lib.foreground.service.AAFForegroundService"
                android:enabled="true"
                android:exported="true" />
    </application>

</manifest>
