<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bihe0832.android.common.list.compose">

    <application>
        <activity
            android:name="com.bihe0832.android.common.list.compose.CommonComposeListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />

    </application>
</manifest>