<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bihe0832.android.common.ace.editor">

    <application>
        <activity
            android:name="com.bihe0832.android.common.ace.editor.AceEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/fullscreenActivityTheme" />
    </application>
</manifest>