<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bihe0832.android.common.qrcode">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name="com.bihe0832.android.common.qrcode.CommonScanActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />

        <activity
            android:name="com.bihe0832.android.common.qrcode.CommonWithResultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Material.Light.NoActionBar" />
    </application>
</manifest>